
<link rel="stylesheet" href="viewsoldhistory.component.css">
<div class="col">
    <div  class="form-row">
        <div class="container "> 
        <div>
             
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3 class="heading">View Sold History</h3>
        
        <table class="table1">
            <thead class="thead-dark">
            <tr>
                <th>Date</th>
                <th>Crop Name</th>
                <th>Quantity</th>
                <th>MSP</th>
                <th>Sold Price</th>
                <th>Total Price</th>
            </tr>
            </thead>
            <thead class ="thead-dark">
            <!-- <tr *ngFor="let n of notifications">   -->
                <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        </table>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>
</div>
