<div class="about-section">
    <br>

    <h1>About Us</h1>
    <br>
    <p>E-Farming is a web application developed for farmers. This application gives suppose to the village farmers who want to use this facility and who want to learn how is it possible and how they can use e-farming to sell their products.
    </p>
    <p> If the farmers have knowledge of computer then they can directly register in the site and sell their product otherwise they can contact company's computer professional who will schedule classes to teach the basics of computers and internet. They can know how they can open this site and register with it and sell their products online etc.
       </p> 
<p>
        E-Farming is a project developed to build a website which will help farmers from to sell their products to different cities through online. Farmers can use this facility and can learn how is it possible and how they can use e-farming to sell their products.
        
        </p>

  </div>
  