.row{
	background-color: white;
	width:100%;
  height: 45%;
  padding-bottom: 30px;
  align-items: center;
  background-image: url('../../assets/homeImages/background3.jpg');
}

.form{
  align-items: center;
  margin-left: 40%;
}


h3{
 align-items: center;

}