<style>
    div{
        background-image: url(../../assets/homeImages/background3.jpg);
        min-height: 630px;
    }
</style>


 
       <div style="text-align: center; font-family: Segoe Print;" >
        <!--h3>If u want policy just click on  policy button</h3-->

        <br>
        <br>
        <br>
        <br>
        <br>

        <button><a href="claim.html" [routerLink]="'/claim'" ><h3><b style="color: rgb(3, 1, 19); ">Claim Insurance</b></h3></a> </button>
        <pre></pre>
    <button> <a href="insuranceappform.html" [routerLink]="'/insuranceappform'"><h3><b style="color: rgb(5, 5, 14);">Apply for a policy</b></h3></a> </button>
    <pre></pre> 
          <button> <a href="login.html" [routerLink]="'/login'" style="color: rgb(1, 1, 14); " > Back </a> </button>
        

          
         
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div> 